/* required file for gridstack to work */
@import "https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css";

body {
  color: #FFF;
  background: url("../images/background.png")no-repeat center center fixed; 
  -webkit-background-image: url("../images/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.chat-col {
  right: 0;
  bottom: 0;
  top: 47.5px;
  z-index: 1000;
  position: fixed;
  color: #fff;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 40px;
  padding-top: 15px;
  min-height: 100vh;
}

#chat-messages {
  height: 70vh;
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#chat-messages::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent;
}

.chat-box {
  bottom: 30px;
  right: 0;
  position: absolute;
  border: 0;
  border-top: 1px groove white;
  border-left: 1px groove white;
  font-size: small;
}

.chat-box::placeholder {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}

.chat-box,
.chat-box:focus {
  resize: none !important;
  box-shadow: none !important;
}

.chat-row {
  height: 100%;
  overflow-x: scroll;
}

.remote-video {
  position: relative;
  object-fit: cover !important;
  height: 100%;
  width: 100%;
}

.clipped {
  clip-path: circle(40%);
}

.main {
  padding-top: 40px;
}

.local-video {
  bottom: 0;
  left: 0;
  position: fixed;
  height: 150px;
  width: 200px;
  z-index: 1000;
}

.sender-info {
  font-size: smaller;
  margin-top: 5px;
  align-self: flex-end;
}

.msg {
  font-weight: 400;
  font-size: 12px;
  color: black;
  background-color: wheat;
}

.chat-card {
  border-radius: 3px;
}

.btn-no-effect:focus {
  box-shadow: none;
}

.very-small {
  font-size: 6px !important;
}

@media only screen and (max-width: 1767px) {
  .chat-col {
    right: -100vw;
    width: 100vw;
    z-index: 99999;
    transition: 0.3s;
    top: 47px;
  }

  .chat-col.chat-opened {
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
  }

  .chat-opened::-webkit-scrollbar {
    display: none;
  }

  .remote-video {
    height: 100%;
    width: 100%;
  }

  .local-video {
    height: 80px;
    width: 100px;
  }

  #chat-messages {
    height: 60vh;
  }

  .chat-box {
    bottom: 90px;
    margin-bottom: 0px;
  }
}

.bg-info {
  background-color: #c2c2c222 !important;
  
}

.bg-green {
  background-color: #d7f7c5 !important;
}

.card {
  border: 0px !important;
  background-color: #f0f8ff42;
}

.demo {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  height: 100%;

}

li {
cursor: crosshair
}

.icon-off {
  color: #FF0000 !important;
}

.icon-on {
  color: #FFFFFF !important;
}

#dynamic-list > * {
  color:grey;
  letter-spacing:1px;
  font-size: 12px;
  cursor:pointer;
  margin-left:18px;
}

#login{
  background:#473761bb !important;
  box-shadow: 4px 0px 8px black;
}

#room-create img{
  margin-top:15px;
}

#room-create .create-room{
  font-size:24px;
  letter-spacing:1px;
}

#create-room{
  margin-top:20px;
}

.nonelist {
  list-style-type: none;
}

.gridtile {
  background-color: #473761bb !important;
}

/* video styles */
.v-toolbox{
  padding:5px;
  padding-top:15px;
  display:flex;
  height:40px;
  width:auto;
  font-size:12px;
  background:#23153ccc;
}
.v-user{
  margin-left:5px;
  letter-spacing:1px;
  opacity:.7;
}
.v-user:hover {
  opacity: 1;
}

.nd-logo {
    font-size: 16px;
    display: inline-block;
    vertical-align: baseline;
    color: #fff;
    font-family: "Helvetica-Neue-Bold";
}

.ui-draggable-handle{
  background:#23153ccc;
  border-bottom:1px solid #23153c;
  /*min-width:350px; */
}
/*
.grid-stack{
  width:100vw;
} */
.grid-stack-item{
  min-width:350px;

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #c2c2c222;
}
.col-select{
  font-size:13px;
}

.room-comm{
  width:500px;
}
.colselector {
  font-size: 10px;
  background: grey;
  color: white;
  padding: 3px;
  border-radius: 3px;
  height: 30px;
}