#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #473761;
  color: white;
  text-align: left;
  border-radius:3px;
  cursor:pointer;
  box-shadow:10px 10px 40px #14101bbb;
  border-radius:10px 0px 0px 10px;
  right:0px;
  bottom:15%;
  padding-bottom:10px;

}
#mydiv #dynamic-list{

  display:grid;
  grid-gap:6px;
  padding:0;
  margin:0;
  margin-top:5px;
  width:100%;
  max-height:250px;
  overflow-y:auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
 color:white !important;
}

#mydivheader {
  text-transform:uppercase;
  padding: 8px;
  letter-spacing:1px;
  cursor: move;
  font-size:12px;
  z-index: 10;
  background-color: #473761;
  color: #fff;
  border-bottom:3px solid #14101b;
 border-radius:4px 4px 0px 0px;
  box-shadow:0px 2px 4px #14101bbb;
}


#dynamic-list>* {
  color: grey;
  letter-spacing: 1px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 18px;
}