/* ----------------------------------------------------------- */
/* == tingle v0.15.2 */
/* ----------------------------------------------------------- */

.tingle-modal * {
  box-sizing: border-box;
  
}

.tingle-modal {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  position: fixed;
  top: 50px;
  margin: 0 auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background: rgba(68, 0, 255, 0.15);
  opacity: 0;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

/* confirm and alerts
-------------------------------------------------------------- */

.tingle-modal--confirm .tingle-modal-box {
  text-align: center;
}

/* modal
-------------------------------------------------------------- */

.tingle-modal--noOverlayClose {
  cursor: default;
}

.tingle-modal--noClose .tingle-modal__close {
  display: none;
}

.tingle-modal__close {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  padding: 0;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.tingle-modal__close svg * {
  fill: currentColor;
}

.tingle-modal__closeLabel {
  display: none;
}

.tingle-modal__close:hover {
  color: #fff;
}

.tingle-modal-box {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  background: none;
  opacity: 1;
  cursor: auto;
  will-change: transform, opacity;
  
}

.tingle-modal-box__content {
  color:  #3f2d5f;

}

.tingle-modal-box__content > h1{
  margin-bottom:10px;
font-family: Helvetica, sans-serif;
font-size:2em;
  color:rgb(192, 191, 191);
  font-weight:lighter;
  margin-left:2em;
  
  
}

.tingle-modal-box__footer {
  padding: 1rem 1rem;
  cursor: auto;
  
}

.tingle-modal-box__footer::after {
  display: table;
  clear: both;
  content: "";
}

.tingle-modal-box__footer--sticky {
  position: fixed;
  bottom: 70px; /* TODO : find a better way */
  z-index: 10001;
  opacity: 1;
  transition: bottom .3s ease-in-out .3s;
}

/* state
-------------------------------------------------------------- */

.tingle-enabled {
  /*position: fixed;
  right: 0;
  left: 0; */
  overflow: hidden;
}

.tingle-modal--visible .tingle-modal-box__footer {
  bottom: 0;
}

.tingle-enabled .tingle-content-wrapper {
  filter: blur(1px);
}

.tingle-modal--visible {
  visibility: visible;
  opacity: 1;
}

.tingle-modal--visible .tingle-modal-box {
  animation: scale .2s cubic-bezier(.68, -.55, .265, 1.55) forwards;
}

.tingle-modal--overflow {
  overflow-y: scroll;
  padding-top: 8vh;
}

/* btn
-------------------------------------------------------------- */

.tingle-btn {
  display: inline-block;
  margin: 0 .5rem;
  padding: .5rem 2rem;
  border: none;
  background:#adadad;
  box-shadow: none;
  color: #14101b;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  cursor: pointer;
  transition: background-color .4s ease;
  border-radius:3px;
  box-shadow:2px 2px 4px #14101bbb;
  margin:5px;

}

.tingle-btn--primary {
  
  background-color:none;
  transition:.5s all
}

.tingle-btn--primary:hover {
  background-color: #51b1ff;
  text-shadow:1px 1px 1px rgb(77, 28, 190);
}


.tingle-btn--danger {
  background-color: #e74c3c;
}

.tingle-btn--default {

 
  transition:.5s all
}

.tingle-btn--default:hover{
  background:#e74c3c;
  color:white;
  text-shadow:1px 1px 1px rgb(77, 28, 190);
}

.tingle-btn--pull-left {
  float: left;
}

.tingle-btn--pull-right {
  float: right;
}

/* responsive
-------------------------------------------------------------- */

@media (max-width : 540px) {

  .tingle-modal {
    top: 50px;
  
   
  }

  .tingle-modal-box {
  
    border-radius: 0;
  }

  .tingle-modal-box__content {
    overflow-y: scroll;
   
  }

  .tingle-modal--noClose {
    top: 0;
  }

  .tingle-modal--noOverlayClose {
    padding-top: 0;
  }

  .tingle-modal-box__footer .tingle-btn {
    display: block;
    float: none;
    margin-bottom: 1rem;
    width: 100%;
  }

  .tingle-modal__close {
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #2c3e50;
    box-shadow: none;
    color: #fff;
  }

  .tingle-modal__closeLabel {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }

  .tingle-modal__closeIcon {
    display: inline-block;
    margin-right: .8rem;
    width: 1.6rem;
    vertical-align: middle;
    font-size: 0;
  }
}

@supports ((-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px))) {
  .tingle-modal:before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    backdrop-filter: blur(2px);

    -webkit-backdrop-filter: blur(2px);
  }

  .tingle-enabled .tingle-content-wrapper {
    filter: none;
  }
}

/* animations
-------------------------------------------------------------- */

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.speech-bubble {

background:#473761bb;
  border-radius: 3px;
  color:rgb(58, 58, 58);
  padding:20px;
  display:grid;
  align-items: center;
  margin-bottom:10px;
  margin-top:20px;
  box-shadow:2px 2px 4px #14101bbb;
}

.speech-bubble p {
  font-weight: lighter;
  padding-top:10px;
  font-size:20px;
  line-height:20px;
 color:white;
 
}

.speech-bubble-user {
	position: relative;
  border-radius: 3px;
  color:rgb(58, 58, 58);
  padding:20px 5px;

  margin-bottom:20px;
  margin-top:20px;

 
}
.speech-bubble-user p{
  margin-top:20px;
  color:rgb(89, 83, 102);
  font-size:35px;
  font-weight: lighter;
  
  
}

.preview-container{
  background:rgb(22, 22, 22);
  padding:0px;
  border-radius:3px 3px 3px 3px;
  margin-bottom:10px;
  box-shadow:2px 2px 4px #14101bbb;

}
.preview-container video {
max-width: 100%;
border-radius:3px;
border:3px solid rgb(22,22,22)


}

.preview-video-buttons button {
display:block;
border-radius:3px;

  height:50px;
  width:50px;
  background:none;
  transition: .5s all;
  position:relative;
  z-index:1000;
  border:3px solid black;
}
.preview-video-buttons button {
  color : white;
}
.preview-video-buttons button:hover {
  border-color:orange;
  color:orange;
} 

.form-control{
  font-family: Helvetica, Arial, sans-serif !important;
  font-size:.9em !important;
  font-weight:lighter;
  color:grey;
  border:none;
  box-shadow:2px 2px 4px #14101bbb;
}
.form-control label {
  font-size: .6em !important;
}
.room-form {
  color:white;
}
.speech-msg {
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight: lighter !important;
  line-height:2em;
}